<div *ngIf="product" class="row">
    <div class="col-xs-12 col-md-6">
        <h1>{{product.name}}</h1>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
        <h1>{{product.price}} kn</h1>
        <button (click)="addtocart()"  class="btn btn-primary">Dodaj u košaricu</button>
        <button class="btn btn-danger" *appHasRole='["Admin","Moderator"]' routerLink="/product/{{product.id}}/editphoto">Uredi</button>
    </div>
</div>